/* *******************************************************
 *                     COLOR SCHEME 
 * *******************************************************/
/* Nord */
:root {
  --nord-0: #2e3440; /* Polar Night */
  --nord-1: #3b4252;
  --nord-2: #434c5e;
  --nord-3: #4c566a;
  --nord-4: #d8dee9; /* Snow Storm */
  --nord-5: #e5e9f0;
  --nord-6: #eceff4;
  --nord-7: #8fbcbb; /* Frost */
  --nord-8: #88c0d0;
  --nord-9: #81a1c1;
  --nord-10: #5e81ac; /* Aurora */
  --nord-11: #bf616a; /* Red */
  --nord-12: #d08770; /* Orange */
  --nord-13: #ebcb8b; /* Yellow */
  --nord-14: #a3be8c; /* Green */
  --nord-15: #b48ead; /* Purple */
}

/* *******************************************************
 *                     MAIN BODY 
 * *******************************************************/
/* universal selector */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  /* list-style: none; */
  box-sizing: border-box;
}

body {
  background-color: var(--nord-0); /* Polar Night */
  color: var(--nord-5); /* Snow Storm for text */
  /*font-family: 'Roboto Serif', serif;*/
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  max-width: 60em; /* Restrict the width to a maximum of 60em */
  padding: 0 1em; /* Add some padding for small screens */
}

.outline-2 {
  width: 100%;
}
/* *******************************************************
 *                     HEADERS 
 * *******************************************************/
h1 {
  padding-top: 0.5em;
  font-weight: 200;
  color: var(--nord-5);
  font-size: 3em;
  width:100%;
}
.subtitle {
  width:100%;
  color: var(--nord-5);
  font-style:italic;
  font-weight: 200;
  font-size: 0.6em;
  border-bottom: solid 1px var(--nord-13);
}

h2 {
  font-weight: 200;
  font-size: 1.66em;
  color: var(--nord-6);
  padding-top: 1em;
  border-bottom: solid 1px var(--nord-13);
}

h3 {
  font-weight: 300;
  color: var(--nord-6);
  padding-top: 1em;
  border-bottom: solid 1px var(--nord-3);
}

p {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
}

li {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
}
/* *******************************************************
 *                     SOURCE(SRC) BLOCKS 
 * *******************************************************/
.src{
  background-color: var(--nord-1); /* Polar Night */
  font-size: 16px;
}
.org-src-container {
  margin-top: 1em; /* Add some padding for small screens */
}

/* *******************************************************
 *                     QUOTE BLOCKS 
 * *******************************************************/
blockquote{
  width:86%;
  margin:30px auto 20px auto;
  font-style:italic;
  padding:1em 30px 1.6em 35px;
  border-left:8px solid var(--nord-13) ;
  line-height:1;
  position: relative;
  background:var(--nord-2);
}

blockquote p {
  padding-top: 0;
}
blockquote ul {
  list-style-position: inside; /* Ensures the bullets stay inside the blockquote */
}
/* *******************************************************
 *                     NAV BAR 
 * *******************************************************/
#preamble {
  height: 80px;
}
.navbar-ul {
  height:100%;
}

nav {
  position: sticky;
  top: 0;
  background: var(--nord-1);/* Aurora */
  height: 80px;
  width: 100vw;
  z-index: 99999999999;  
}

/* Logo container styling */
label.logo {
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: normal;
  font-style: oblique;
}

/* Anchor tag inside the logo */
label.logo a {
  color: var(--nord-13); /* Snow Storm */
  text-decoration: none; /* Remove underline */
}

/* Prevent hover effects for the logo link */
label.logo a:hover {
  color: var(--nord-6); /* Maintain the original color */
  text-decoration: none; /* No decoration */
  background: var(--nord-3); 
}

/* Prevent color change after clicking */
label.logo a:visited {
  color: var(--nord-6); /* Keep the original color */
  text-decoration: none; /* No decoration */
}

nav ul {
  float: right;
  margin-right: 20px;
  padding-left: 0px;
  margin-left: 0px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  padding-top: 0px;
}

nav ul li a {
  color: var(--nord-4); /* Snow Storm */
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.checkbtn {
  font-size: 22px;
  color: var(--nord-4);
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* *******************************************************
 *                     LINKS
 * *******************************************************/
a.active,
a:hover {
  background: var(--nord-1); 
  transition: .5s;
}

/* *******************************************************
 *                     LISTS 
 * *******************************************************/
/* List item styling */
li {
  padding-top: 10px; /* Adds space between each list item */
}
ul {
  padding-left: 1em; /* Indent the bullets */
  margin-left: 1em; /* Optional: Add space between the list and surrounding content */
}

/* *******************************************************
 *                     BLOG LINKS 
 * *******************************************************/
.blog-list li {
  padding-top: 10px; /* Adds space between each list item */
}

/* Link styling */
.blog-links {
  color: var(--nord-4);
  text-decoration: none; /* Ensures links remain without underline */
  font-size: 1.4em;
  font-weight: 200;
}

/* *******************************************************
 *                     MODEL VIEWERS 
 * *******************************************************/
canvas {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid var(--nord-3);
  cursor: grab;
}

#three-js-container {
  width: 100%;
  height: 500px;
  margin: 1em 0 0 0;
}
/* *******************************************************
 *                     FOOTER 
 * *******************************************************/
/* Footer Styling */
#postamble {
  width: 100vw;
  background: var(--nord-1); /* Aurora */
  text-align: center;
  margin-top: 1em;
}

footer {
  padding: 1em 0 1em 0;
  color: var(--nord-13);
  font-style:italic;
}

/* *******************************************************
 *                   MEDIA: TABLET  
 * *******************************************************/
@media (max-width: 1050px) {
  blockquote {
    width: 90%;
    margin:20px auto;
    padding: 1em 10px 1em 20px;
    }
  label.logo {
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
    color: var(--nord-5); /* Light text for smaller screens */
  }
}

/* *******************************************************
 *                     MEDIA: PHONE 
 * *******************************************************/
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  #check:checked~ul {
    left: 0;
  }
  label.logo {
    font-size: 22px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--nord-1); /* Darker background for mobile */
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: var(--nord-6); /* Snow Storm text color */
  }
  a:hover,
  a.active {
    background: none;
    color: var(--nord-10); /* Aurora text color */
  }
  canvas {
    height: 50vw !important;
  }
  #three-js-container {
    height: 50vw !important;
  }
}

/* *******************************************************
 *                     MEDIA: SMALL SCREEN 
 * *******************************************************/
@media (max-width: 60em) {
  .content {
    width: 100vw; /* On smaller screens, make it span the full viewport width */
  }
}

